target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## Advent of Code T&C compliance ##
**/src/main/resources/**/input.txt
**/src/main/resources/**/story.md
**/src/main/resources/**/partOne.md
**/src/main/resources/**/partTwo.md
!**/src/main/resources/dayXY/**
